.nav-bar{
  width: 100vw;
  margin:1px auto 5px auto;
  border: 2px solid green;
  border-radius: 3px;
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link{
  text-decoration: none;
  color: whitesmoke;
  margin: auto 3vw; 
  font-size: x-large;
  font-weight: bold;
}

.link:hover{
  color:red
}

@media only screen and (max-width: 800px){
  .nav-bar{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}